#landing {
    height: 100vh;
    width: 100%;
    background: #efefef;

}

.helloC {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}
.hello {
    font-size: 200px;
    color: rgb(214, 214, 214);
}